@font-face
{
	font-family: Sanskrit;
	src: local('Sanskrit'), url('Sanskrit.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: UbuntuCondensed;
	src: local('Ubuntu Condensed'), url('UbuntuCondensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: UbuntuMono;
	src: local('Ubuntu Mono'), url('UbuntuMono.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: UbuntuRegular;
	src: local('Ubuntu'), url('UbuntuRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.Code
{
	font-family: UbuntuMono;
	font-size: 8pt;
}

.Header
{
	font-family: UbuntuRegular;
	font-size: 24pt;
}

.Label
{
	font-family: UbuntuRegular;
	font-size: 11pt;
}

.SanskritBig
{
	font-family: Sanskrit;
	font-size: 36pt;
}

.Transliteration
{
	font-family: UbuntuRegular;
	font-size: 8pt;
}

.Version
{
	font-family: UbuntuCondensed;
	font-size: 8pt;
}

body
{
	background-color: #B4B4B4;
	margin: 12px;
}

table
{
	border: 3px solid;
	border-color: #4B4B4B;
}

td
{
	background-color: #C3C3C3;
	color: #000F4B;
	font-family: "UbuntuRegular";
	font-size: 11pt;
	padding: 6pt;
}
